.temperature-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.card-title {
    top: 0px;
    left: 0px;
    padding-right:20px;
    font-size: min(3vw, 3vh);
    font-weight: 700;
    color: #1e1e1e;
    margin: 0;
}

.card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    width:80%;
    padding:10px 10px 10px 10px;
}

.weather-icon {
    flex:.5;
    height: 8vmin;
}

.temp-value {
    padding: 0 10% 0 10px;
    flex:.5;
    font-size: 4vw;
    font-weight:500;
}

