.hourly-card .weather-icon{
    font-size: min(3vw, 3vh);
    color: #1e1e1e;
    padding-bottom:10%;
    text-align:center;
  }

.hourly-card, .weekly-card {
    display: flex;
    margin:20px 20px 20px 0;
    flex-grow:1;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.hourly-card p,
.weekly-card p{
    font-size: min(2.2vw, 2.2vh);
}

.hourly-card .temp,
.weekly-card .low {
    padding: 15% 0 15% 0;
}

.high {
    font-weight: 600;
    font-size: min(2.2vh, 2.2vw);
    padding-bottom: 10%;
}

.low {
    font-size: min(2vh, 2vw);
}