@font-face {
    font-family: 'InterVariable';
    src: local('InterVariable'), url(./fonts/InterVariable.woff2) format('woff2');
  }
  
  body {
    font-family: "InterVariable", sans-serif;
    width: 100%;
    background-color: #f5f5f5;
}

.app-container {
    max-width:80%;
    margin:auto;
    display: flex;
    flex-direction: column; /* added to align search bar and grid vertically */
    justify-content: center;
}

.grid-container {
    max-width:80%;
    margin:10%;
    display: flex;
    min-width:fit-content;
}

.grid-container .col {
    max-width: 49%;
}